In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [7]:
tweets_trump=pd.read_csv('./tweet_data/trump.csv',engine='python')

In [6]:
tweets_biden=pd.read_csv('./tweet_data/biden.csv')

/tmp/ipykernel_143183/1515479679.py:1: DtypeWarning: Columns (1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets_biden=pd.read_csv('./tweet_data/biden.csv')

In [117]:
#tweets_biden.loc[0]

In [8]:
tjb=tweets_biden.dropna(subset=['lat','long','city','state','user_location'],how='all')
tdt=tweets_trump.dropna(subset=['lat','long','city','state','user_location'],how='all')
#td.groupby('country').size().sort_values()

In [9]:
tjb=tjb.loc[(tjb['country']=="United States" ) | (tjb['country']=="United States of America")]
tdt=tdt.loc[(tdt['country']=="United States" ) | (tdt['country']=="United States of America")]

In [10]:
len(tdt)

213259

In [17]:
tdt.groupby(['user_location','lat','long']).size().sort_values()[-20:]

user_location      lat                 long
California         36.7014631          -118.75599740000001     1356
Los Angeles        34.0536909          -118.24276599999999     1419
Planet Earth       34.233137299999996  -102.4107493            1424
Philadelphia, PA   39.9527237          -75.16352619999999      1467
Manhattan, NY      40.7896239          -73.9598939             1552
NYC                40.7127281          -74.0060152             1614
New York City      40.7127281          -74.0060152             1877
New Jersey, USA    40.0757384          -74.4041622             2081
Pennsylvania, USA  40.9699889          -77.72788309999999      2343
New York           40.7127281          -74.0060152             2431
Chicago, IL        41.875561600000005  -87.6244212             2533
Texas, USA         31.8160381          -99.51209859999999      2641
New York, USA      40.7127281          -74.0060152             2703
New York, NY       40.7127281          -74.0060152             3413
Florida, USA       27.7567667          -81.4639835             3596
Los Angeles, CA    34.0536909          -118.24276599999999     4990
California, USA    36.7014631          -118.75599740000001     5625
Washington, DC     38.8949924          -77.0365581             6437
USA                39.7837304          -100.4458825            8967
United States      39.7837304          -100.4458825           21449
dtype: int64