In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from pathlib import Path
sns.set_style("whitegrid")

In [3]:
#tweets_trump=pd.read_csv('./tweet_data/trump.csv',engine='python')
#tweets_biden=pd.read_csv('./tweet_data/biden.csv')
#tjb=tweets_biden.dropna(subset=['lat','long','city','state','user_location'],how='all')
#tdt=tweets_trump.dropna(subset=['lat','long','city','state','user_location'],how='all')
#tjb=tjb.loc[(tjb['country']=="United States" ) | (tjb['country']=="United States of America")]
#tdt=tdt.loc[(tdt['country']=="United States" ) | (tdt['country']=="United States of America")]
#photon_url="http://localhost:2322/api?q="
#photon_reverse="http://localhost:2322/reverse?"

#tjb['query_url']=pd.NA
#for x in tjb.index:
#    if pd.notna(tjb.loc[x,'lat']) and pd.notna(tjb.loc[x,'long']):
#        tjb.loc[x,'query_url']=photon_reverse+'lat='+str(tjb.loc[x,'lat'])+'&'+'lon='+str(tjb.loc[x,'long'])
#    elif pd.notna(tjb.loc[x,'city']) and pd.notna(tjb.loc[x,'state']):
#        tjb.loc[x,'query_url']=photon_url+ tjb.loc[x,'city']+ ' ' + tjb.loc[x,'state']
#    else:
#        tjb.loc[x,'query_url']=photon_url+str(tjb.loc[x,'user_location'])
#tjb['county']=pd.NA
#i=0
#j=0
#for x in tjb.index:
#    try:
#        photon_response=requests.get(tjb.loc[x,'query_url']).json()['features'][0]['properties']['county']
        #j=j+1
#    except:
#        photon_response=pd.NA
#    tjb.loc[x,'county'] = photon_response
    #i=i+1
    #print(i,j)
    #tdt['query_url']=pd.NA
#for x in tdt.index:
#    if pd.notna(tdt.loc[x,'lat']) and pd.notna(tdt.loc[x,'long']):
#        tdt.loc[x,'query_url']=photon_reverse+'lat='+str(tdt.loc[x,'lat'])+'&'+'lon='+str(tdt.loc[x,'long'])
#    elif pd.notna(tjb.loc[x,'city']) and pd.notna(tdt.loc[x,'state']):
#        tdt.loc[x,'query_url']=photon_url+ tdt.loc[x,'city']+ ' ' + tdt.loc[x,'state']
#    else:
#        tdt.loc[x,'query_url']=photon_url+str(tdt.loc[x,'user_location'])
#tdt['county']=pd.NA
#i=0
#j=0
#for x in tdt.index:
#    try:
#        photon_response=requests.get(tdt.loc[x,'query_url']).json()['features'][0]['properties']['county']
#        j=j+1
#    except:
#        photon_response=pd.NA
#    tdt.loc[x,'county'] = photon_response
#    i=i+1
#    print(i,j)
#filepath=Path('./tweet_data/biden_countied.csv')
#tjb.to_csv(filepath)
#filepath=Path('./tweet_data/trump_countied.csv')
#tdt.to_csv(filepath)

In [4]:
#Read in the files
#tweets_biden=pd.read_csv('./tweet_data/biden_countied.csv')
#tweets_trump=pd.read_csv('./tweet_data/trump_countied.csv')
#Only consider those with a valid county and cut down on not needed columns
#valid_tweets_b=tweets_biden.dropna(subset=['county']).drop(axis=1,labels=['lat','long','city','country','continent','state','collected_at','user_screen_name','user_name','source','tweet_id','query_url','user_join_date','Unnamed: 0'])
#valid_tweets_t=tweets_trump.dropna(subset=['county']).drop(axis=1,labels=['lat','long','city','country','continent','state','collected_at','user_screen_name','user_name','source','tweet_id','query_url','user_join_date','Unnamed: 0'])
#valid_tweets=pd.concat([valid_tweets_b,valid_tweets_t], ignore_index=True)
#valid_tweets.to_csv('./tweet_data/valid_tweets.csv')

Following is some boilerplate code to cleanup and name the dataset from census

In [53]:
demographics=pd.read_csv('./demographics/demographics.csv')
tmp_in=pd.Series(range(1,39)).apply(str).apply(lambda x:x.zfill(3))
columns_to_drop1=[x+y+z for x in ('S0101_C'+pd.Series(['02','04','05','06'])+'_') for y in tmp_in for z in ['E','M']]
columns_to_drop2=[x+y+z for x in ('S0101_C'+pd.Series(['01','03'])+'_') for y in tmp_in for z in ['M']]
a=list(range(20,39))
a.remove(23)
ttmp_in=pd.Series(a).apply(str).apply(lambda x:x.zfill(3))
columns_to_drop3=[x+y+z for x in ('S0101_C'+pd.Series(['01','03'])+'_') for y in ttmp_in for z in ['E']]
columns_to_drop=columns_to_drop1+columns_to_drop2+columns_to_drop3+['Unnamed: 458']
#S0101_C01_023E
#().apply(lambda x:x+tmp_in+'E')
demographics=demographics.drop(axis=1,labels=columns_to_drop)
def convert_column_names(x):
    x_split = x.split('_')
    if x == 'S0101_C01_023E':
        return 'pop_18_24'
    if len(x_split)!=3:
        return x
    if x_split[1]=='C01':
        i=int(x_split[2][:-1])
        if i==1:
            return 'total_pop'
        return 'pop_'+str((i-2)*5)+'_'+str((i-1)*5)
    if x_split[1]=='C03':
        i=int(x_split[2][:-1])
        if i==1:
            return 'total_male_pop'
        return 'pop_male_'+str((i-2)*5)+'_'+str((i-1)*5)
    
demographics.rename(axis=1,mapper=convert_column_names,inplace=True)
demographics=demographics.loc[1:,]
demographics.to_csv('./demographics/demographics_cleaned.csv')

In [55]:
demographics[:5]

,GEO_ID,NAME,total_pop,pop_0_5,pop_5_10,pop_10_15,pop_15_20,pop_20_25,pop_25_30,pop_30_35,...,pop_male_45_50,pop_male_50_55,pop_male_55_60,pop_male_60_65,pop_male_65_70,pop_male_70_75,pop_male_75_80,pop_male_80_85,pop_male_85_90,pop_male_105_110
1,0500000US01003,"Baldwin County, Alabama",223234,10616,12826,14373,14410,11292,11807,12594,...,6458,6270,7620,7644,6084,7170,3677,2851,1791,8068
2,0500000US01015,"Calhoun County, Alabama",113605,6699,5534,7774,7541,6973,7088,7893,...,3160,3032,3164,4281,2683,2658,1541,960,901,4245
3,0500000US01043,"Cullman County, Alabama",83768,5310,4563,5906,4591,4603,5402,5186,...,2889,2662,2279,3170,1673,2596,1411,593,661,2962
4,0500000US01049,"DeKalb County, Alabama",71513,4578,4292,5519,5128,4989,4281,4155,...,2185,2203,2011,2388,2080,1281,1476,437,85,3956
5,0500000US01051,"Elmore County, Alabama",81209,4272,6638,3812,4896,4038,6165,6956,...,2739,2238,2189,3014,1403,2306,883,632,489,2647

In [58]:
dp=pd.read_csv('./demographics/dp_2016.csv')
valid_columns=['GEO_ID','NAME','DP05_0033E','DP05_0034E','DP05_0039E','DP05_0066E','DP05_0032E','DP05_0028E']
dp_vc=dp.loc[:,valid_columns]
dp_vc.rename(axis=1,mapper={'DP05_0033E':'afr_amer','DP05_0034E':'amer_ind','DP05_0039E':'asian','DP05_0066E':'latino','DP05_0032E':'white','DP05_0028E':'tot_pop'},inplace=True)
dp_vc=dp_vc.loc[1:]
dp_vc.replace(to_replace='N',value=0,inplace=True)
for x in dp_vc.columns:
    if x!='NAME' and x!='GEO_ID':
        dp_vc[x]=dp_vc[x].apply(int)
dp_vc.to_csv('./demographics/dp_2016_cleaned.csv')

In [59]:
dp=pd.read_csv('./demographics/dp_2019.csv')
valid_columns=['GEO_ID','NAME','DP05_0038E','DP05_0039E','DP05_0044E','DP05_0071E','DP05_0037E','DP05_0033E']
dp_vc=dp.loc[:,valid_columns]
dp_vc.rename(axis=1,mapper={'DP05_0038E':'afr_amer','DP05_0039E':'amer_ind','DP05_0044E':'asian','DP05_0071E':'latino','DP05_0037E':'white','DP05_0033E':'tot_pop'},inplace=True)
dp_vc=dp_vc.loc[1:]
dp_vc.replace(to_replace='N',value=0,inplace=True)
for x in dp_vc.columns:
    if x!='NAME' and x!='GEO_ID':
        dp_vc[x]=dp_vc[x].apply(int)
dp_vc.to_csv('./demographics/dp_2019_cleaned.csv')

In [29]:
#Cleanup Poverty Data

#poverty=pd.read_csv('./poverty/poverty_2019.csv')
#valid_columns=['GEO_ID','NAME','S1701_C01_001E','S1701_C01_006E','S1701_C01_010E','S1701_C01_040E']
#poverty_vc=poverty.loc[:,valid_columns]
#poverty_vc.rename(axis=1,mapper={'S1701_C01_001E':'tot_poverty','S1701_C01_006E':'pov_18_64','S1701_C01_010E':'pov_65_up','S1701_C01_040E':'pov_150'},inplace=True)
#poverty_vc=poverty_vc.loc[1:]
#for x in poverty_vc.columns:
#    if x!='NAME' and x!='GEO_ID':
#        poverty_vc[x]=poverty_vc[x].apply(int)
#    #poverty_vc['tot_poverty'].apply(int)
#poverty_vc['pov_18_up']=poverty_vc['pov_18_64']+poverty_vc['pov_65_up']
#poverty_vc.to_csv('./poverty/poverty_2019_cleaned.csv')

In [33]:
#income=pd.read_csv('./income/income_2019.csv')
#valid_columns=['GEO_ID','NAME','DP03_0009PE','DP03_0062E','DP03_0063E']
#income_vc=income.loc[:,valid_columns]
#income_vc.rename(axis=1,mapper={'DP03_0009PE':'unemp_rate','DP03_0062E':'med_hh_inc','DP03_0063E':'mean_hh_inc'},inplace=True)
#income_vc=income_vc.loc[1:]
#income_vc.replace(to_replace='N',value=0,inplace=True)
#for x in income_vc.columns:
#    if x!='NAME' and x!='GEO_ID':
#        income_vc[x]=income_vc[x].apply(float)
#income_vc.to_csv('./income/income_2019_cleaned.csv')