In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from pathlib import Path
sns.set_style("whitegrid")

In [24]:
demographics=pd.read_csv('./demographics/demographics_cleaned.csv')
demographics.head()

,Unnamed: 0,GEO_ID,NAME,total_pop,pop_0_5,pop_5_10,pop_10_15,pop_15_20,pop_20_25,pop_25_30,...,pop_male_45_50,pop_male_50_55,pop_male_55_60,pop_male_60_65,pop_male_65_70,pop_male_70_75,pop_male_75_80,pop_male_80_85,pop_male_85_90,pop_male_105_110
0,1,0500000US01003,"Baldwin County, Alabama",223234,10616,12826,14373,14410,11292,11807,...,6458,6270,7620,7644,6084,7170,3677,2851,1791,8068
1,2,0500000US01015,"Calhoun County, Alabama",113605,6699,5534,7774,7541,6973,7088,...,3160,3032,3164,4281,2683,2658,1541,960,901,4245
2,3,0500000US01043,"Cullman County, Alabama",83768,5310,4563,5906,4591,4603,5402,...,2889,2662,2279,3170,1673,2596,1411,593,661,2962
3,4,0500000US01049,"DeKalb County, Alabama",71513,4578,4292,5519,5128,4989,4281,...,2185,2203,2011,2388,2080,1281,1476,437,85,3956
4,5,0500000US01051,"Elmore County, Alabama",81209,4272,6638,3812,4896,4038,6165,...,2739,2238,2189,3014,1403,2306,883,632,489,2647

In [9]:
#better_demographics=demographics[['GEO_ID','NAME']]

In [32]:
demographics['pop_18_30']=demographics['pop_18_24']+demographics['pop_25_30']
demographics['pop_18_30_pc']=100*demographics['pop_18_30']/demographics['total_pop']
demographics['pop_60_up']=demographics['pop_60_65']+demographics['pop_65_70']+demographics['pop_70_75']+demographics['pop_75_80']+demographics['pop_80_85']+demographics['pop_85_90']
demographics['pop_60_up_pc']=100*demographics['pop_60_up']/demographics['total_pop']

demographics['pop_male_pc']=100*demographics['total_male_pop']/demographics['total_pop']
final_tally=demographics[['GEO_ID','NAME','total_pop','pop_18_30_pc','pop_60_up_pc']]

In [62]:
final_tally

,GEO_ID,NAME,total_pop,pop_18_30_pc,pop_60_up_pc
0,0500000US01003,"Baldwin County, Alabama",223234,12.731484,28.279294
1,0500000US01015,"Calhoun County, Alabama",113605,15.082963,25.497117
2,0500000US01043,"Cullman County, Alabama",83768,13.802407,25.693582
3,0500000US01049,"DeKalb County, Alabama",71513,15.875435,22.061723
4,0500000US01051,"Elmore County, Alabama",81209,14.493467,23.502321
...,...,...,...,...,...
835,0500000US72113,"Ponce Municipio, Puerto Rico",131881,16.890985,29.468991
836,0500000US72127,"San Juan Municipio, Puerto Rico",318441,16.316366,30.255840
837,0500000US72135,"Toa Alta Municipio, Puerto Rico",72025,18.071503,21.123221
838,0500000US72137,"Toa Baja Municipio, Puerto Rico",74271,16.740047,26.552759
839,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",63674,16.542074,27.182209

In [57]:
dp_2016=pd.read_csv('./demographics/dp_2016_cleaned.csv')
dp_2019=pd.read_csv('./demographics/dp_2019_cleaned.csv')
dp_2016.drop(axis=1,labels=['Unnamed: 0'],inplace=True)
dp_2019.drop(axis=1,labels=['Unnamed: 0'],inplace=True)

In [58]:
delta_dp=dp_2016[['GEO_ID','NAME']]
for x in dp_2016.columns:
    if x != 'GEO_ID' and x != 'NAME':
        dp_2016[x+'_pc']=100*dp_2016[x]/dp_2016['tot_pop']
        dp_2019[x+'_pc']=100*dp_2019[x]/dp_2019['tot_pop']
        delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']

/tmp/ipykernel_376687/1487024920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']
/tmp/ipykernel_376687/1487024920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']
/tmp/ipykernel_376687/1487024920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']
/tmp/ipykernel_376687/1487024920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']
/tmp/ipykernel_376687/1487024920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']
/tmp/ipykernel_376687/1487024920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp[x]=dp_2019[x+'_pc']-dp_2016[x+'_pc']

In [59]:
delta_dp

,GEO_ID,NAME,afr_amer,amer_ind,asian,latino,white,tot_pop
0,0500000US01003,"Baldwin County, Alabama",-0.809433,0.424539,0.529358,0.302404,-1.015899,0.0
1,0500000US01015,"Calhoun County, Alabama",1.125008,-0.523702,-0.730303,0.484123,-1.138643,0.0
2,0500000US01043,"Cullman County, Alabama",-1.275600,-0.767543,-0.925174,0.153881,-95.830049,0.0
3,0500000US01049,"DeKalb County, Alabama",-0.571082,-0.108306,-0.080600,0.809081,-4.714181,0.0
4,0500000US01051,"Elmore County, Alabama",21.879348,0.251204,1.088549,2.202497,75.895529,0.0
...,...,...,...,...,...,...,...,...
826,0500000US72113,"Ponce Municipio, Puerto Rico",-3.695471,0.473979,1.983378,-95.959410,19.950353,0.0
827,0500000US72127,"San Juan Municipio, Puerto Rico",-12.315651,1.572231,0.759234,-82.780304,21.638469,0.0
828,0500000US72135,"Toa Alta Municipio, Puerto Rico",1.282276,1.051867,0.985499,-90.003998,93.627439,0.0
829,0500000US72137,"Toa Baja Municipio, Puerto Rico",-8.206639,0.000000,1.176097,0.713322,-5.268164,0.0
830,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",8.751159,0.174870,0.181368,-0.176495,67.933290,0.0

In [60]:
dp_2016

,GEO_ID,NAME,afr_amer,amer_ind,asian,latino,white,tot_pop,afr_amer_pc,amer_ind_pc,asian_pc,latino_pc,white_pc,tot_pop_pc
0,0500000US01003,"Baldwin County, Alabama",18821,1383,914,9211,180484,208563,9.024132,0.663109,0.438237,4.416411,86.536922,100.0
1,0500000US01015,"Calhoun County, Alabama",24160,803,1064,4100,84357,114611,21.080001,0.700631,0.928358,3.577318,73.602883,100.0
2,0500000US01043,"Cullman County, Alabama",1052,633,763,3567,79032,82471,1.275600,0.767543,0.925174,4.325157,95.830049,100.0
3,0500000US01049,"DeKalb County, Alabama",1087,862,74,10109,62139,70900,1.533145,1.215797,0.104372,14.258110,87.643159,100.0
4,0500000US01051,"Elmore County, Alabama",0,0,0,780,0,81799,0.000000,0.000000,0.000000,0.953557,0.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,0500000US72113,"Ponce Municipio, Puerto Rico",6722,0,62,144031,108935,145278,4.626991,0.000000,0.042677,99.141646,74.983824,100.0
827,0500000US72127,"San Juan Municipio, Puerto Rico",49177,1073,860,339059,232053,347052,14.169923,0.309176,0.247801,97.696887,66.864043,100.0
828,0500000US72135,"Toa Alta Municipio, Puerto Rico",0,0,0,73041,0,73980,0.000000,0.000000,0.000000,98.730738,0.000000,100.0
829,0500000US72137,"Toa Baja Municipio, Puerto Rico",9879,0,0,78808,59647,80207,12.316880,0.000000,0.000000,98.255763,74.366327,100.0
830,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",0,0,0,67182,0,68242,0.000000,0.000000,0.000000,98.446704,0.000000,100.0

In [61]:
dp_2019

,GEO_ID,NAME,afr_amer,amer_ind,asian,latino,white,tot_pop,afr_amer_pc,amer_ind_pc,asian_pc,latino_pc,white_pc,tot_pop_pc
0,0500000US01003,"Baldwin County, Alabama",18338,2428,2160,10534,190912,223234,8.214698,1.087648,0.967595,4.718815,85.521023,100.0
1,0500000US01015,"Calhoun County, Alabama",25226,201,225,4614,82323,113605,22.205009,0.176929,0.198055,4.061441,72.464240,100.0
2,0500000US01043,"Cullman County, Alabama",0,0,0,3752,0,83768,0.000000,0.000000,0.000000,4.479037,0.000000,100.0
3,0500000US01049,"DeKalb County, Alabama",688,792,17,10775,59305,71513,0.962063,1.107491,0.023772,15.067191,82.928978,100.0
4,0500000US01051,"Elmore County, Alabama",17768,204,884,2563,61634,81209,21.879348,0.251204,1.088549,3.156054,75.895529,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,0500000US72113,"Ponce Municipio, Puerto Rico",8321,36,0,130227,108065,131881,6.309476,0.027297,0.000000,98.745839,81.941296,100.0
836,0500000US72127,"San Juan Municipio, Puerto Rico",41261,401,1475,309346,183816,318441,12.957188,0.125926,0.463194,97.143898,57.723723,100.0
837,0500000US72135,"Toa Alta Municipio, Puerto Rico",0,0,0,70269,0,72025,0.000000,0.000000,0.000000,97.561958,0.000000,100.0
838,0500000US72137,"Toa Baja Municipio, Puerto Rico",9848,0,0,72745,57304,74271,13.259549,0.000000,0.000000,97.945362,77.155283,100.0
839,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",8949,0,0,62918,37802,63674,14.054402,0.000000,0.000000,98.812702,59.368031,100.0