In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from pathlib import Path
sns.set_style("whitegrid")

In [3]:
demographics=pd.read_csv('./demographics/demographics_cleaned.csv')
demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 43 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3220 non-null   int64
 1   GEO_ID            3220 non-null   object
 2   NAME              3220 non-null   object
 3   total_pop         3220 non-null   int64
 4   pop_0_5           3220 non-null   int64
 5   pop_5_10          3220 non-null   int64
 6   pop_10_15         3220 non-null   int64
 7   pop_15_20         3220 non-null   int64
 8   pop_20_25         3220 non-null   int64
 9   pop_25_30         3220 non-null   int64
 10  pop_30_35         3220 non-null   int64
 11  pop_35_40         3220 non-null   int64
 12  pop_40_45         3220 non-null   int64
 13  pop_45_50         3220 non-null   int64
 14  pop_50_55         3220 non-null   int64
 15  pop_55_60         3220 non-null   int64
 16  pop_60_65         3220 non-null   int64
 17  pop_65_70         3220 non-null   int64
 18  pop_70_75         3220 non-null   int64
 19  pop_75_80         3220 non-null   int64
 20  pop_80_85         3220 non-null   int64
 21  pop_85_90         3220 non-null   int64
 22  pop_18_24         3220 non-null   int64
 23  total_male_pop    3220 non-null   int64
 24  pop_male_0_5      3220 non-null   int64
 25  pop_male_5_10     3220 non-null   int64
 26  pop_male_10_15    3220 non-null   int64
 27  pop_male_15_20    3220 non-null   int64
 28  pop_male_20_25    3220 non-null   int64
 29  pop_male_25_30    3220 non-null   int64
 30  pop_male_30_35    3220 non-null   int64
 31  pop_male_35_40    3220 non-null   int64
 32  pop_male_40_45    3220 non-null   int64
 33  pop_male_45_50    3220 non-null   int64
 34  pop_male_50_55    3220 non-null   int64
 35  pop_male_55_60    3220 non-null   int64
 36  pop_male_60_65    3220 non-null   int64
 37  pop_male_65_70    3220 non-null   int64
 38  pop_male_70_75    3220 non-null   int64
 39  pop_male_75_80    3220 non-null   int64
 40  pop_male_80_85    3220 non-null   int64
 41  pop_male_85_90    3220 non-null   int64
 42  pop_male_105_110  3220 non-null   int64
dtypes: int64(41), object(2)
memory usage: 1.1+ MB

In [9]:
#better_demographics=demographics[['GEO_ID','NAME']]

In [60]:
demographics['pop_18_30']=demographics['pop_18_24']+demographics['pop_25_30']
demographics['pop_18_30_pc']=100*demographics['pop_18_30']/demographics['total_pop']
demographics['pop_60_up']=demographics['pop_60_65']+demographics['pop_65_70']+demographics['pop_70_75']+demographics['pop_75_80']+demographics['pop_80_85']+demographics['pop_85_90']
demographics['pop_60_up_pc']=100*demographics['pop_60_up']/demographics['total_pop']

demographics['pop_male_pc']=100*demographics['total_male_pop']/demographics['total_pop']
final_tally=demographics[['GEO_ID','NAME','total_pop','pop_18_30_pc','pop_60_up_pc','pop_male_pc']]

In [61]:
final_tally.set_index('GEO_ID',inplace=True)

In [62]:
final_tally.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3220 entries, 0500000US01001 to 0500000US72153
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          3220 non-null   object
 1   total_pop     3220 non-null   int64
 2   pop_18_30_pc  3220 non-null   float64
 3   pop_60_up_pc  3220 non-null   float64
 4   pop_male_pc   3220 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 150.9+ KB

In [63]:
dp_2016=pd.read_csv('./demographics/dp_2016_cleaned.csv')
dp_2019=pd.read_csv('./demographics/dp_2019_cleaned.csv')
dp_2016.drop(axis=1,labels=['Unnamed: 0'],inplace=True)
dp_2019.drop(axis=1,labels=['Unnamed: 0'],inplace=True)
dp_2016.set_index('GEO_ID',inplace=True)
dp_2019.set_index('GEO_ID',inplace=True)

In [64]:
dp_2019.loc[:,'tot_pop']

GEO_ID
0500000US01001     55380
0500000US01003    212830
0500000US01005     25361
0500000US01007     22493
0500000US01009     57681
                   ...
0500000US72145     52192
0500000US72147      8642
0500000US72149     22403
0500000US72151     33499
0500000US72153     35428
Name: tot_pop, Length: 3220, dtype: int64

In [65]:
delta_dp=dp_2016[['NAME']]
for x in dp_2016.columns:
    if x != 'NAME':
        dp_2016[x+'_pc']=100*dp_2016[x]/dp_2016['tot_pop']
        dp_2019[x+'_pc']=100*dp_2019[x]/dp_2019['tot_pop']
        delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
delta_dp.drop(axis=1,labels=['tot_pop_delta'],inplace=True)

/tmp/ipykernel_395245/176667491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
/tmp/ipykernel_395245/176667491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
/tmp/ipykernel_395245/176667491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
/tmp/ipykernel_395245/176667491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
/tmp/ipykernel_395245/176667491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
/tmp/ipykernel_395245/176667491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.loc[:,x+'_delta']=dp_2019[(x+'_pc')]-dp_2016[(x+'_pc')]
/tmp/ipykernel_395245/176667491.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delta_dp.drop(axis=1,labels=['tot_pop_delta'],inplace=True)

In [66]:
cols=['afr_amer','amer_ind','asian','latino','white']
final_tally.loc[:,[x+'_pc' for x in cols]]=dp_2019.loc[:,[ x+'_pc' for x in cols]]
final_tally.loc[:,[x+'_delta' for x in cols]]=delta_dp.loc[:,[x+'_delta' for x in cols]]

In [68]:
final_tally.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3220 entries, 0500000US01001 to 0500000US72153
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            3220 non-null   object
 1   total_pop       3220 non-null   int64
 2   pop_18_30_pc    3220 non-null   float64
 3   pop_60_up_pc    3220 non-null   float64
 4   pop_male_pc     3220 non-null   float64
 5   afr_amer_pc     3220 non-null   float64
 6   amer_ind_pc     3220 non-null   float64
 7   asian_pc        3220 non-null   float64
 8   latino_pc       3220 non-null   float64
 9   white_pc        3220 non-null   float64
 10  afr_amer_delta  3220 non-null   float64
 11  amer_ind_delta  3220 non-null   float64
 12  asian_delta     3220 non-null   float64
 13  latino_delta    3220 non-null   float64
 14  white_delta     3220 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 402.5+ KB

In [75]:
poverty_2019=pd.read_csv('./poverty/poverty_2019_cleaned.csv',engine='python')
poverty_2016=pd.read_csv('./poverty/poverty_2016_cleaned.csv',engine='python')
poverty_2016.set_index('GEO_ID',inplace=True)
poverty_2019.set_index('GEO_ID',inplace=True)
poverty_2016..drop(axis=1,labels=['Unnamed: 0'],inplace=True)
poverty_2019..drop(axis=1,labels=['Unnamed: 0'],inplace=True)

AttributeError: 'NoneType' object has no attribute 'drop'

In [74]:
poverty_2016['pov_pc']=100*poverty_2016['tot_poverty']/

,Unnamed: 0,NAME,tot_poverty,pov_150
GEO_ID,,,,
0500000US01001,1,"Autauga County, Alabama",6697,12616
0500000US01003,2,"Baldwin County, Alabama",25551,44150
0500000US01005,3,"Barbour County, Alabama",6235,9551
0500000US01007,4,"Bibb County, Alabama",3390,5431
0500000US01009,5,"Blount County, Alabama",9441,17159
...,...,...,...,...
0500000US72145,3216,"Vega Baja Municipio, Puerto Rico",25518,35438
0500000US72147,3217,"Vieques Municipio, Puerto Rico",3220,5420
0500000US72149,3218,"Villalba Municipio, Puerto Rico",12185,16186
0500000US72151,3219,"Yabucoa Municipio, Puerto Rico",17603,25123
0500000US72153,3220,"Yauco Municipio, Puerto Rico",19162,25729